* {
  font-family: "Roboto";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  display: none;
}

.fullScreenBase {
  height: 100vh;
  width: 100vw;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullScreenBase .loginComponent {
  width: 475px;
  min-height: 100px;
  border: none;
  border-radius: 20px;
  padding: 25px;
  background-color: #fff;
}
.fullScreenBase .loginComponent .inputs {
  width: 90%;
  margin: auto;
}
.fullScreenBase .loginComponent .error {
  color: red;
}
.fullScreenBase .loginComponent #loginError {
  position: absolute;
  top: 32px;
}
.fullScreenBase .loginComponent #passwordError {
  position: absolute;
  top: 32px;
}
.fullScreenBase .error {
  color: red;
}
.fullScreenBase #nameError {
  position: absolute;
  top: 32px;
}
.fullScreenBase #employeeIdError {
  position: absolute;
  top: 32px;
}
.fullScreenBase #cpf_cnpjError {
  position: absolute;
  top: 32px;
}
.fullScreenBase #businessEmailError {
  position: absolute;
  top: 32px;
}
.fullScreenBase #passwordError {
  position: absolute;
  top: 32px;
}

.sidebarBase {
  background-color: #f8f8f8;
  height: 100vh;
  position: fixed;
  width: 20vw;
  left: -20vw;
  top: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.sidebarBase .outsideBlur {
  width: 100vw;
  position: absolute;
  left: 20vw;
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
  background-color: blur(10px);
  transition: all 0.5s ease-in-out;
  transition: left none;
  pointer-events: none;
}
.sidebarBase .sidebarButton {
  background-color: #f8f8f8;
  position: absolute;
  left: 20vw;
  top: 5vh;
  width: 7vh;
  height: 7vh;
  border: none;
  border-radius: 0 50% 50% 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.sidebarBase .sidebarButton > * {
  width: 5vh;
  height: 1vh;
  background-color: #aaa;
  position: absolute;
  border-radius: 0.5vh;
}
.sidebarBase .sidebarButton .bar1 {
  top: 1.25vh;
  transition: all 0.5s ease-in-out;
}
.sidebarBase .sidebarButton .bar2 {
  top: 3vh;
  transition: all 0.5s ease-in-out;
}
.sidebarBase .sidebarButton .bar3 {
  top: 4.75vh;
  transition: all 0.5s ease-in-out;
}
.sidebarBase.open {
  left: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.sidebarBase.open .outsideBlur {
  background-color: rgba(0, 0, 0, 0.199);
  width: 100vw;
  pointer-events: all;
}
.sidebarBase.open .bar1 {
  top: 3vh;
  transform: rotate(45deg);
}
.sidebarBase.open .bar2 {
  background-color: #f8f8f8;
}
.sidebarBase.open .bar3 {
  top: 3vh;
  transform: rotate(-45deg);
}
.sidebarBase .insideContent {
  width: 90%;
  height: 95%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 400;
}
.sidebarBase .insideContent > * {
  margin: 0px;
}
.sidebarBase .insideContent .fullButton {
  width: 100%;
}
.sidebarBase .insideContent .identification {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 40px;
}
.sidebarBase .insideContent .identification .icon {
  height: 40px;
  width: 40px;
}
.sidebarBase .insideContent .identification .icon .img-fluid {
  border-radius: 50%;
}
.sidebarBase .insideContent .identification .naming {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarBase .insideContent .identification .naming .employeeName {
  font-size: 25px;
  line-height: 25px;
}
.sidebarBase .insideContent .identification .naming .employeeId {
  position: relative;
  line-height: 10px;
}
.sidebarBase .insideContent .vacationInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarBase .insideContent .vacationInfo .vacationDaysLeftSection {
  width: 100%;
  padding-left: 3px;
  font-size: 16px;
  border: solid #e5e5e5 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #e5e5e5;
}
.sidebarBase .insideContent .vacationInfo .vacationDaysLeftSection .vacationDaysLeft {
  border-radius: 5px;
}
.sidebarBase .insideContent .vacationInfo .vacationDaysLeftSection #yellow {
  background-color: #fffa75;
}
.sidebarBase .insideContent .vacationInfo .vacationDaysLeftSection #green {
  background-color: #B0FFBD;
}
.sidebarBase .insideContent .vacationInfo .vacationDaysLeftSection #red {
  background-color: #f44848;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestList {
  width: 100%;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestList .noVacationRequested {
  width: 100%;
  text-align: center;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestList .vacation {
  border: lightgray solid 2px;
  border-radius: 5px;
  height: 110px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestList .vacation .inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestList .vacation .date {
  width: 45%;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestList .vacation .extraText {
  padding: 5px;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestList .activeVacation {
  width: 100%;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestSection {
  width: 100%;
  height: 100px;
  transition: all 0.5s ease-in-out;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestSection .requestVacation {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  height: 100%;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestSection .requestVacation .dates {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestSection .requestVacation .dates .buttonSizing {
  width: 45%;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestSection .requestVacation .dates #vacationRequestError {
  position: absolute;
  top: 32px;
  color: red;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestSection .requestVacation .requestButton {
  width: 100%;
}
.sidebarBase .insideContent .vacationInfo .closed {
  width: 100%;
  height: 0;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  z-index: -1;
}
.sidebarBase .insideContent .vacationInfo .vacationRequestButton {
  width: 100%;
}
.sidebarBase .insideContent .bonusSallaryInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sidebarBase .insideContent .bonusSallaryInfo .bonusSallaryRequestButton {
  width: 100%;
}
.sidebarBase .insideContent .logoutButton {
  flex: end;
  margin-top: auto;
}

.textArea {
  width: 1000px;
}

.loginForm {
  width: 90%;
  margin: auto;
}

.teste {
  width: 70vw;
  height: 50px;
  background-color: #00A651;
  position: fixed;
  top: 10px;
}

.text-center {
  margin: auto;
  color: #ffffff;
  font-size: 20px;
}

.fullHeight {
  height: 100%;
}

.dropdown {
  margin-top: 50px;
}

.testingPadding {
  padding: 10px;
}

.nome {
  font-size: 20px;
  margin-left: 10px;
}

.searchBar {
  position: absolute;
  top: 5vh;
  left: 15vw;
  width: 70vw;
  height: 50px;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
.searchBar .searchInput {
  border: none;
  font-size: 20px;
  width: 50vw;
}
.searchBar .searchInput:focus-visible {
  border: none;
}
.searchBar .icons {
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  /*.openAdvancedSearch {
      height: 3vh;
      width: 5vh;

      >* {
          width: 3vh;
          height: 0.8vh;
          background-color: #aaa;
          position: absolute;
          border-radius: 0.5vh;
      }

      .bar1 {

          top: 2.5vh;
          transition: $baseTransition;
          transform: rotate(45deg);
          right: 70px;


      }

      .bar2 {
          top: 2.5vh;
          transition: $baseTransition;
          transform: rotate(-45deg);
          right: 54px;
      }

  }*/
}
.searchBar .icons .dropdown {
  margin-top: 0px;
}
.searchBar .icons .dropdown .dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  width: 200px;
}
.searchBar .advancedSearch {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.searchBar .advancedSearch.open {
  height: 100px;
  border: solid black;
}

.accorditionList {
  width: 70vw;
  position: absolute;
  top: 130px;
  left: 15vw;
}

.accorditionClass {
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.accorditionClass #error {
  position: absolute;
  top: -10px;
  left: 11px;
  background-color: white;
  font-size: 0.8rem;
  color: red;
}

.accordion-button {
  font-size: 20px;
  color: #666;
}

.accordion-button:not(.collapsed) {
  font-size: 20px;
  color: #666;
}

.callendarBase {
  width: 70vw;
  display: grid;
  gap: 0.5vh;
  grid-template-columns: repeat(7, 1fr);
}
.callendarBase .dateCard {
  height: 15vh;
  padding: 5px;
  font-size: 20px;
  line-height: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.callendarBase .dateCard .basicInfo {
  display: flex;
  justify-content: space-between;
}
.callendarBase .dateCard .basicInfo > * {
  padding: 5px;
}
.callendarBase .dateCard .basicInfo .vacationInfo {
  border-radius: 10px;
}
.callendarBase .dateCard .basicInfo .bgcGreen {
  background-color: #4ebf85;
}
.callendarBase .dateCard .dashBoard {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: lightgray solid 2px;
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.callendarBase .dateCard .dashBoard .activeEmployees {
  width: 100%;
}
.callendarBase .dateCard .dashBoard .activeEmployees .activeEmployeesBar {
  display: grid;
}
.callendarBase .dateCard .dashBoard .activeEmployees .activeEmployeesBar .numberOfActiveEmployees {
  width: 100%;
  height: 10px;
  background-color: yellow;
}
.callendarBase .disabled {
  background-color: rgba(136, 136, 136, 0.2509803922);
}

.bellComponent {
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.bellComponent .notificationList {
  position: inherit;
  right: 30px;
  width: 500px;
  min-height: 100px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}
.bellComponent .notificationList .notificationComponent {
  background-color: #efefef;
  width: 100%;
  border: #efefef solid 2px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  z-index: 100;
}
.bellComponent .isShown {
  opacity: 1;
  pointer-events: fill;
}

/*# sourceMappingURL=style.css.map */
