$sidebarSize: 20vw;
$baseTransition: all 0.5s ease-in-out;

* {
    font-family: 'Roboto';
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        display: none;
    }
}


.fullScreenBase {
    height: 100vh;
    width: 100vw;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginComponent {
        width: 475px;
        min-height: 100px;
        border: none;
        border-radius: 20px;
        padding: 25px;
        background-color: #fff;

        .inputs {
            width: 90%;
            margin: auto;
        }

        .error {
            color: red;
        }

        #loginError {
            position: absolute;
            top: 32px;
        }

        #passwordError {
            position: absolute;
            top: 32px;
        }
    }

    .error {
        color: red;
    }

    #nameError {
        position: absolute;
        top: 32px;
    }

    #employeeIdError {
        position: absolute;
        top: 32px;
    }

    #cpf_cnpjError {
        position: absolute;
        top: 32px;
    }

    #businessEmailError {
        position: absolute;
        top: 32px;
    }

    #passwordError {
        position: absolute;
        top: 32px;
    }
}

.sidebarBase {
    background-color: #f8f8f8;
    height: 100vh;
    position: fixed;
    width: $sidebarSize;
    left: -$sidebarSize;
    top: 0;
    transition: $baseTransition;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

    .outsideBlur {
        width: 100vw;
        position: absolute;
        left: $sidebarSize;
        background-color: rgba(0, 0, 0, 0);
        height: 100vh;
        background-color: blur(10px);

        transition: $baseTransition;
        transition: left none;
        pointer-events: none;
    }



    .sidebarButton {
        background-color: #f8f8f8;
        position: absolute;
        left: $sidebarSize;
        top: 5vh;
        width: 7vh;
        height: 7vh;
        border: none;
        border-radius: 0 50% 50% 0;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

        >* {
            width: 5vh;
            height: 1vh;
            background-color: #aaa;
            position: absolute;
            border-radius: 0.5vh;
        }

        .bar1 {
            top: 1.25vh;
            transition: $baseTransition;

        }

        .bar2 {
            top: 3vh;
            transition: $baseTransition;
        }

        .bar3 {
            top: 4.75vh;
            transition: $baseTransition;
        }
    }

    &.open {
        left: 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

        .outsideBlur {
            background-color: rgba(0, 0, 0, 0.199);
            width: 100vw;

            pointer-events: all;

        }

        .bar1 {
            top: 3vh;
            transform: rotate(45deg);
        }

        .bar2 {
            background-color: #f8f8f8;
        }

        .bar3 {
            top: 3vh;
            transform: rotate(-45deg);
        }
    }

    .insideContent {
        width: 90%;
        height: 95%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-weight: 400;

        >* {
            margin: 0px;
        }

        .fullButton {
            width: 100%;
        }

        .identification {
            display: flex;
            flex-direction: row;
            gap: 10px;
            height: 40px;

            .icon {
                height: 40px;
                width: 40px;

                .img-fluid {
                    border-radius: 50%;

                }
            }

            .naming {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .employeeName {
                    font-size: 25px;
                    line-height: 25px;
                }

                .employeeId {
                    position: relative;
                    line-height: 10px;
                }
            }
        }

        .vacationInfo {
            display: flex;
            flex-direction: column;
            align-items: center;

            .vacationDaysLeftSection {
                width: 100%;
                padding-left: 3px;
                font-size: 16px;
                border: solid #e5e5e5 2px;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                background-color: #e5e5e5;


                .vacationDaysLeft {
                    border-radius: 5px;
                }

                #yellow {
                    background-color: #fffa75;
                }

                #green {
                    background-color: #B0FFBD;
                }

                #red {
                    background-color: #f44848;
                }
            }

            .vacationRequestList {
                width: 100%;

                >* {
                    border: lightgray solid 2px;
                    border-radius: 5px;
                    height: 100px;
                }

                .pendingVacation {
                    width: 100%;

                }

                .activeVacation {
                    width: 100%;

                }
            }

            .vacationRequestSection {
                width: 100%;
                height: 100px;
                transition: $baseTransition;

                .requestVacation {
                    width: 100%;
                    height: 100%;

                    //border: solid #e5e5e5 2px;
                    border-radius: 5px;
                    position: relative;
                    height: 100%;

                    .dates {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .buttonSizing {
                            width: 45%;
                        }

                        #vacationRequestError {
                            position: absolute;
                            top: 32px;
                            color: red;
                        }
                    }

                    .requestButton {
                        width: 100%;
                    }
                }
            }

            .closed {
                width: 100%;
                height: 0;
                opacity: 0;
                pointer-events: none;
                visibility: none;
                z-index: -1;
            }

            .vacationRequestButton {
                width: 100%;
            }
        }

        .bonusSallaryInfo {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .bonusSallaryRequestButton {
                width: 100%;
            }
        }

        .logoutButton {
            flex: end;
            margin-top: auto;

        }
    }
}

.textArea {
    width: 1000px;
}

.loginForm {
    width: 90%;
    margin: auto;
}



.teste {
    width: 70vw;
    height: 50px;
    background-color: #00A651;
    z-index: 3;
    position: fixed;
    top: 10px;
}

.text-center {
    margin: auto;
    color: #ffffff;
    font-size: 20px;
}

.fullHeight {

    height: 100%;
}

.dropdown {
    margin-top: 50px;
}

.testingPadding {
    padding: 10px;
}

.nome {
    font-size: 20px;
    margin-left: 10px;
}

.searchBar {
    position: absolute;
    top: 5vh;
    left: 15vw;
    width: 70vw;
    height: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;

    .searchInput {
        border: none;
        font-size: 20px;
        width: 50vw;
    }

    .searchInput:focus-visible {
        border: none;
    }

    .icons {
        height: 65%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        .dropdown {
            margin-top: 0px;

            .dropdown-menu {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 10px;
                width: 200px;
            }
        }

        /*.openAdvancedSearch {
            height: 3vh;
            width: 5vh;

            >* {
                width: 3vh;
                height: 0.8vh;
                background-color: #aaa;
                position: absolute;
                border-radius: 0.5vh;
            }

            .bar1 {

                top: 2.5vh;
                transition: $baseTransition;
                transform: rotate(45deg);
                right: 70px;


            }

            .bar2 {
                top: 2.5vh;
                transition: $baseTransition;
                transform: rotate(-45deg);
                right: 54px;
            }

        }*/
    }

    .advancedSearch {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: -1;
        transition: $baseTransition;

        &.open {
            height: 100px;
            border: solid black;
        }
    }
}

.accorditionList {
    width: 70vw;
    position: absolute;
    top: 130px;
    left: 15vw;
}

.accorditionClass {
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;



    #error {
        position: absolute;
        top: -10px;
        left: 11px;
        background-color: white;
        font-size: 0.8rem;
        color: red;

    }

}

.accordion-button {
    font-size: 20px;
    color: #666;
}

.accordion-button:not(.collapsed) {
    font-size: 20px;
    color: #666;
}

.callendarBase {
    width: 70vw;
    display: grid;
    gap: 0.5vh;
    grid-template-columns: repeat(7, 1fr);

    .dateCard {
        height: 15vh;
        padding: 10px;
        font-size: 20px;
        line-height: 15px;
        border-radius: 10px;

    }

    .disabled {
        background-color: #88888840;
    }
}

.bellComponent {
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;

    .notificationList {
        position: inherit;
        right: 30px;
        width: 300px;
        min-height: 100px;
        background-color: white;
        border-radius: 10px;
        transition: $baseTransition;
        opacity: 0;
        pointer-events: none;
        .insideTest {
            width: 50%;
            height: 50%;
            background-color: #000;
        }
    }
    .isShown {
        opacity: 1;
    }
}
