body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  width: 400px;
  min-height: 500px;
  border: none;
  border-radius: 20px;
  padding: 25px;
  background-color: #fff;
}

.img-fluid {
  margin-bottom: 30px;
}

.loginForm{
  width: 90%;
  margin: auto;
}

.inputs{
  width: 90%;
  margin: auto;
}
